.cont * {
  box-sizing: border-box;
}

.cont .img {
  zoom: 0.3;
}

.imageInput {
  position: relative;
  top: -20vh;
}

.cont input[type=text],
select,
textarea {
  background-color: #ddd;
  width: 100%;
  padding: 12px;
  border: 1px solid #2B2730;
  border-radius: 10px;
  resize: vertical;
}

.cont label {
  color: rgb(233, 225, 225);
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.cont input[type=submit] {
  background-color: #798777;
  color: rgb(233, 225, 225);
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}

.cont input[type=submit]:hover {
  background-color: #A2B29F;
}

.row{
  height: 50px;
}

.cont {
  border-radius: 10px;
  background-color: #2B2730;
  padding: 20px;
  width: 100vh;
  position: absolute;
  top: 25%;
  left: 25%;
  margin: -50px 0 0 -50px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.inputedImage {
  pointer-events: none;
  position: relative;
  bottom: 48px;
  height: 48px;
  width: 82px;
  overflow: hidden;
  left: 190px;
}