@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.tableFixHead {
  overflow-y: auto; 
  height: 77vh; 
  margin-top: 7vh;
}
.tableFixHead thead th {
  position: sticky; 
  top: 0px; 
}

.table {
  font-family: 'Montserrat', sans-serif;
  border-collapse: collapse;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.val{
  text-align: center;
  width: 15vw;
}

.table tr:nth-child(odd) {
  background-color: #d2cbcb;
}

.table tr:nth-child(even) {
  background-color: rgb(235, 233, 233);
}

.table tr:hover {
  background-color: #A2B29F;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: #F8EDE3;
  background-color: #2b2730;
}

.table tr {
  height: 4vh;
}

.invisible{
  pointer-events: none;
}