@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.logo {
  display: inline;
  height: 5vh;
  padding: 1px 1%;
}

.navbar {
  overflow: hidden;
  background-color: #2B2730;
  border-radius: 7px;
}

.navbar .restaurant {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #F8EDE3;
}

.navbar .restaurant:hover{
  background-color: #2B2730;
}
.navbar .tables,
.logout {
  font-family: 'Montserrat', sans-serif;
  float: right;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #F8EDE3;
}

.dropdown {
  float: right;
  font-size: 16px;
  text-align: center;

  padding: 0px 16px;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #F8EDE3;
  padding: 14px 16px;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #798777;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2B2730;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: #F8EDE3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #798777;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 768px) {

  .navbar {
    margin: 0;
    padding: 0;
    width: 80px;
    background-color: #2B2730;
    position: fixed;
    height: 100%;
    overflow: auto;

  }

  .navbar .tables,
  .logout {
    display: block;
    color: #F8EDE3;
    padding: 20px;
    text-decoration: none;
  }

  .dropdown {
    font-family: 'Montserrat', sans-serif;
    float: right;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #F8EDE3;
  }


.logo {
  display: inline;
  height: 5vh;
  padding: 1px 25px;
}


}