.App {
  text-align: center;
  background-color: #00a281;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.table {
  background-color: #f39c12;
  width: 350px;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* justify-content: center; */
}

.filter-green {
  filter: invert(51%) sepia(21%) saturate(1467%) hue-rotate(118deg) brightness(94%) contrast(90%);
}

.delete-table-button {
  position: absolute;
  right: 4px;
  top: 9px;
}

.delete-table-button:hover {
  cursor: pointer;
}

.tables {
  display: flex;
  flex-wrap: wrap;
}

.table > input {
  background-color: #f39c12;
  text-align: center;
  border: 0;
  font-weight: bold;
  padding-top: 20px;
  font-size: x-large;  
}

.tableNumber {
  /* position: relative;
  top: 100px;  */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
